<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Todo</title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

<div class="ui container" style="margin-top: 3em;">

    <h1 class="ui header">Todo</h1>

    <form class="ui form" action="/add" method="POST" name="item">
        <div class="field">
            <input type="text" name="title" placeholder="Todo eingeben">
        </div>

        <div class="field">
            <input type="date" name="date">
        </div>

        <button class="ui blue button" type="submit">
            Hinzufügen
        </button>
    </form>

    {% for item in items %}
    <div class="ui segment" style="overflow:hidden; position: relative">

        <span class="ui header" style="margin-left: 0.5em;">
            {{ item.title }}
        </span>

        <span>
            {{ item.date.strftime('%d.%m.%Y') }}
        </span>

        {% if item.isCompleted %}
        <a class="ui green left corner label" href="/update/{{ loop.index0 }}">
            <i class="check square outline icon"></i>
        </a>
        {% else %}
        <a class="ui red left corner label" href="/update/{{ loop.index0 }}">
            <i class="square outline icon"></i>
        </a>
        {% endif %}

    </div>
    {% endfor %}

</div>

<script type="text/javascript">

    $(document).ready(function () {
        document.item.title.focus();
    });

</script>

</body>

</html>
